<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="seamolec.org.app.udjseamolec">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProgressIndicator" android:screenOrientation="portrait"/>
        <activity android:name=".Login" android:screenOrientation="portrait"/>
        <activity android:name=".Register" android:screenOrientation="portrait"/>
        <activity android:name=".Profile" android:screenOrientation="portrait"/>
        <activity android:name=".QuizActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Score" android:screenOrientation="portrait"/>
        <activity android:name=".Mapel" android:screenOrientation="portrait"/>
        <activity android:name=".Navdraw" android:screenOrientation="portrait"/>
        <activity android:name=".Scoreing" android:screenOrientation="portrait"/>
        <activity android:name=".Waktu" android:screenOrientation="portrait" />
        <activity android:name=".MapelController" android:screenOrientation="portrait" />
    </application>

</manifest>